<section class="all-item-area all-item-area-2 pd-top-100 pd-bottom-100">
  <div class="container">
    <div class="header-shadow-inner">
      <div class="row">
        <div class="col-lg-12 align-self-center" >
          <div class="isotope-filters item-isotope-btn" style="align-items: center">

            <h4 style="margin-left: 30%" *ngIf="gameData.isCompleted && gameData.winner != null">
              GAME OVER!! {{removeUnderscore(gameData.winner)}} is the WINNER. <a routerLink="/" style="color: blue">Play again?</a>
            </h4><br>

            <h4 style="margin-left: 30%" *ngIf="gameData.isCompleted && gameData.winner == null">
              GAME OVER!! We have a TIE. <a routerLink="/" style="color: blue">Play again?</a>
            </h4><br>

            <h4 style="margin-left: 35%" *ngIf="!gameData.isCompleted">
              {{removeUnderscore(gameData.nextPlayer)}} should play next
            </h4><br>

            <button class="button" style="margin-left: 170px" data-filter=".cat-1" [style.color]="gameData.nextPlayer == 'PLAYER_A' ? 'green': 'yellow'" (click)="playGame(5)" [disabled]="gameData.nextPlayer != 'PLAYER_A'">{{gameData.pits[5].stoneCount}}</button>
            <button class="button" data-filter=".cat-2" [style.color]="gameData.nextPlayer == 'PLAYER_A' ? 'green': 'yellow'" (click)="playGame(4)" [disabled]="gameData.nextPlayer != 'PLAYER_A'" >{{gameData.pits[4].stoneCount}}</button>
            <button class="button" data-filter=".cat-3" [style.color]="gameData.nextPlayer == 'PLAYER_A' ? 'green': 'yellow'" (click)="playGame(3)" [disabled]="gameData.nextPlayer != 'PLAYER_A'" > {{gameData.pits[3].stoneCount}}</button>
            <button class="button" data-filter=".cat-1" [style.color]="gameData.nextPlayer == 'PLAYER_A' ? 'green': 'yellow'" (click)="playGame(2)" [disabled]="gameData.nextPlayer != 'PLAYER_A'" >{{gameData.pits[2].stoneCount}}</button>
            <button class="button" data-filter=".cat-2" [style.color]="gameData.nextPlayer == 'PLAYER_A' ? 'green': 'yellow'" (click)="playGame(1)" [disabled]="gameData.nextPlayer != 'PLAYER_A'" >{{gameData.pits[1].stoneCount}}</button>
            <button class="button" data-filter=".cat-3" [style.color]="gameData.nextPlayer == 'PLAYER_A' ? 'green': 'yellow'" (click)="playGame(0)" [disabled]="gameData.nextPlayer != 'PLAYER_A'" >{{gameData.pits[0].stoneCount}}</button>
          </div>
        </div>

        <div class="col-lg-12 align-self-center" >
          <div class="isotope-filters item-isotope-btn">
            <button class="button active ml-0" style="height: 200px" data-filter="*" disabled>{{gameData.pits[6].stoneCount}}</button>
            <button class="button active" style="margin-left: 800px; height: 200px" data-filter="*" disabled>{{gameData.pits[13].stoneCount}}</button>

          </div>
        </div>

        <div class="col-lg-12 align-self-center" >
          <div class="isotope-filters item-isotope-btn" style="align-items: center">
            <button class="button" style="margin-left: 170px" data-filter=".cat-1" [style.color]="gameData.nextPlayer == 'PLAYER_B' ? 'green': 'yellow'" (click)="playGame(7)" [disabled]="gameData.nextPlayer != 'PLAYER_B'">{{gameData.pits[7].stoneCount}}</button>
            <button class="button" data-filter=".cat-2" [style.color]="gameData.nextPlayer == 'PLAYER_B' ? 'green': 'yellow'" (click)="playGame(8)" [disabled]="gameData.nextPlayer != 'PLAYER_B'" >{{gameData.pits[8].stoneCount}}</button>
            <button class="button" data-filter=".cat-3" [style.color]="gameData.nextPlayer == 'PLAYER_B' ? 'green': 'yellow'" (click)="playGame(9)" [disabled]="gameData.nextPlayer != 'PLAYER_B'" >{{gameData.pits[9].stoneCount}}</button>
            <button class="button" data-filter=".cat-1" [style.color]="gameData.nextPlayer == 'PLAYER_B' ? 'green': 'yellow'" (click)="playGame(10)" [disabled]="gameData.nextPlayer != 'PLAYER_B'" >{{gameData.pits[10].stoneCount}}</button>
            <button class="button" data-filter=".cat-2" [style.color]="gameData.nextPlayer == 'PLAYER_B' ? 'green': 'yellow'" (click)="playGame(11)" [disabled]="gameData.nextPlayer != 'PLAYER_B'" >{{gameData.pits[11].stoneCount}}</button>
            <button class="button" data-filter=".cat-3" [style.color]="gameData.nextPlayer == 'PLAYER_B' ? 'green': 'yellow'" (click)="playGame(12)" [disabled]="gameData.nextPlayer != 'PLAYER_B'" >{{gameData.pits[12].stoneCount}}</button>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>
