<section class="pd-top-100 pd-bottom-100 bg-sky-blue">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-7 col-lg-10 text-center">
        <div class="sign-in-area">
          <h2>Hi and Welcome to Mancala</h2>
          <form class="contact-form-wrap">
            <div class="single-input-wrap input-group">
              <label for="inp-1">Player A</label>
              <input id="inp-1" type="text" class="form-control" name="fullNameA"
                     placeholder="Full name of player A" [(ngModel)]="playerA.fullName">
            </div>
            <div class="single-input-wrap input-group">
              <label for="inp-2">Player B</label>
              <input id="inp-2" type="text" class="form-control" name="fullNameB"
                     placeholder="Full name of Player B" [(ngModel)]="playerB.fullName">
            </div>

            <button class="btn btn-base w-100" (click)="initialize()">Start</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
