<!-- preloader area start -->
<!--<div class="preloader" id="preloader">
  <div class="preloader-inner">
    <div class="spinner">
      <div class="dot1"></div>
      <div class="dot2"></div>
    </div>
  </div>
</div>-->

<router-outlet></router-outlet>
